.Events {
    list-style: none;
    margin: auto;
    max-width: 100rem;
    padding: 0;
    margin-bottom: 5rem;
    padding: 4rem;
}

.Event {
    border-bottom: solid 1px var(--orange); 
    display: flex;
    align-items: center;
    justify-items: flex-start;
    height: 120px;
    padding: 2rem;
}

.Event-podcast {
    /* Make it easier to click */
    display: block;
    padding: 1rem;
    margin: -1rem;
}

.Event-description {
    color: var(--orange);
    font-size: var(--heading-font);
}

.Event-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
}

.Event-details {
    font-size: var(--help-text-font);
}

.Event-date {
    max-width: 150px;
}

.Event-main {
    flex: auto;
}

.Event--special {
    border-left: solid 5px red;
}
