.Events {
    list-style: none;
    margin: auto;
    max-width: 100rem;
    padding: 0;
    margin-bottom: 5rem;
    padding: 4rem;
}

.Event {
    border-bottom: solid 1px var(--orange); 
    display: flex;
    align-items: center;
    justify-items: flex-start;
    height: 120px;
    padding: 2rem;
}

.Event-description {
    margin: 0;
    color: var(--orange);
    font-size: var(--heading-font);
}

.Event-location {
    margin: 0;
}

.Event-start {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Event-date {
    margin: 0;
    max-width: 150px;
}
.Event-time {
    margin: 0;
}

.Event-main {
    flex: auto;
}

.Event--special {
    border-left: solid 5px red;
}
